<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bagify</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <style>
        /* Custom scrollbar */
        .scrollbar::-webkit-scrollbar {
            width: 12px;
            /* Width of the scrollbar */
        }

        .scrollbar::-webkit-scrollbar-track {
            background: #1a202c;
            /* bg-gray-900 */
            border-radius: 6px;
        }

        .scrollbar::-webkit-scrollbar-thumb {
            background: #48bb78;
            /* bg-green-500 */
            border-radius: 6px;
            border: 3px solid #1a202c;
            /* Match the track color */
        }

        .scrollbar::-webkit-scrollbar-thumb:hover {
            background: #38a169;
            /* A darker shade of green for hover */
        }

        .scrollbar {
            scrollbar-color: #48bb78 #1a202c;
            /* thumb and track color */
            scrollbar-width: thin;
            /* or 'auto' or 'none' */
        }
    </style>
</head>

<body class=" bg-gray-900 flex relative items-center justify-center w-screen h-screen font-['helvetica_now_display']">
    <nav
        class="flex items-center justify-between absolute top-[2%] left-[2%] right-[2%] p-2 border-b-2 border-green-500">
        <div class="logo flex gap-2">
            <span class="text-5xl text-green-500">Bagify</span>
            <span class="text-5xl text-white">Admin Panel</span>
        </div>
        <div class="flex items-center gap-15 justify-evenly w-1/3">

            <span class="text-xl text-white"><a class="hover:text-green-500" href="">Home</a></span>
            <span class="text-xl text-white"><a class="hover:text-green-500" href="">Products</a></span>
            <span class="text-xl text-white"><a class="hover:text-green-500" href="">My Account</a></span>
            <span class="text-xl text-gray-900 px-3 py-2 bg-red-400 hover:bg-red-500 rounded-md"><a href="">Log
                    Out</a></span>
        </div>
    </nav>

    <div class="main absolute text-white w-[96%] top-[12%] flex items-center justify-center h-[88%] ">
        <div class="w-1/5 h-full  p-3 flex flex-col justify-between i">
            <div class="upper flex flex-col justify-between gap-5">
                <div class="head-links flex flex-col gap-2 ">
                    <span class="text-xl text-zinc-300"><a class="hover:text-green-500" href="">All Products</a></span>
                    <span class="text-xl text-zinc-300"><a class="hover:text-green-500" href="/create">Create New
                            Product</a></span>
                </div>
            </div>
            <div class="lower cursor-pointer">
                <span class="text-red-400 hover:text-red-500 flex items-center gap-3 ">
                    <a class="text-xl " href="">Delete All</a>
                    <svg class="hover:text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" style="fill: rgba(248, 113, 113, 1);">
                        <path
                            d="M6 7H5v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7H6zm4 12H8v-9h2v9zm6 0h-2v-9h2v9zm.618-15L15 2H9L7.382 4H3v2h18V4z">
                        </path>
                    </svg>
                </span>
            </div>
        </div>
        <div class="w-4/5 h-full">
            <div class="cards overflow-y-auto scrollbar p-3 h-full w-full flex gap-5 flex-wrap justify-evenly">

                <% if(products.length>0){ %>
                    <% products.forEach((product)=>{ %>
                        <div class="card cursor-pointer flex flex-col items-center justify-between w-1/5 h-80">
                            <div class="bag-img rounded-t-md w-full h-3/4 flex items-center justify-center overflow-hidden image-center"
                                style="background-color: <%= product.bgcolor %>;">
                                <img class="object-cover w-[80%] h-[80%] object-center" src="<%= product.image %>"
                                    alt="Bag image">
                            </div>

                            <div
                                style="background-color: <%= product.pannelcolor %>;" class="details rounded-b-md h-1/4 p-3 w-full flex items-center justify-between ">
                                <div style="background-color: <%= product.textlcolor %>;" class="one flex flex-col gap-2 text-xl ">
                                    <p>
                                        <%= product.name %>
                                    </p>
                                    <p class="flex gap-3">₹ <%= product.price %> 
                                        <% if(product.discount!=null){ %>
                                            <span class="bg-green-500 w-15 text-center rounded-full">-<%= product.discount %>%</span>
                                        <% } %>
                                    </p>
                                </div>
                                <div class="flex items-center justify-between gap-3">
                                    <div
                                        class="plus w-10 h-10 rounded-full bg-green-500 flex items-center justify-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1)">
                                            <path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path>
                                        </svg>
                                    </div>
                                    <svg class="hover:text-red-500" xmlns="http://www.w3.org/2000/svg" width="24"
                                        height="24" viewBox="0 0 24 24" style="fill: rgba(248, 113, 113, 1);">
                                        <path
                                            d="M6 7H5v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7H6zm4 12H8v-9h2v9zm6 0h-2v-9h2v9zm.618-15L15 2H9L7.382 4H3v2h18V4z">
                                        </path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                            <% } else { %>
                                <h1 class="text-xl text-green-500 absolute left-[50%] top-[50%]">No Such Product
                                    available right now!</h1>
                                <% } %>




            </div>
        </div>
    </div>



    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const navLinks = document.querySelectorAll("nav .flex a");
            let activeLink = null;

            navLinks.forEach(link => {
                link.addEventListener("click", function (event) {
                    event.preventDefault();

                    // Reset previous active link color
                    if (activeLink) {
                        activeLink.classList.remove("text-green-500");
                        activeLink.classList.add("text-white");
                    }

                    // Set new active link color
                    this.classList.remove("text-white");
                    this.classList.add("text-green-500");

                    activeLink = this;
                });
            });
        });
    </script>

</body>

</html>